<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <%- css('app') %>
  <title>Concrete</title>
</head>
<body>

  <!--<script type="text/x-handlebars">-->
  <section id="content">
    <section class="projects">
      <ul>
        <li >
          <div class="title">CountOnKobe</div>
        </li>
        <li class="active">
          <div class="title">Marmoset</div>
        </li>
        <li>
          <div class="title">Facebook</div>
        </li>
        <li>
          <div class="title">Coke Ahh</div>
        </li>
      </ul>
    </section>
    <section class="builds">
      <div class="build">New Build</div>
      <ul>
        <li class="active">
          <div class="title">Running</div>
          <div class="icons"><div class="icon icon-spin3 animate-spin"></div></div>
        </li>
        <li class="success">
          <div class="title">2 Hrs Ago</div>
          <div class="icons"><div class="icon icon-trash"></div></div>
        </li>
        <li class="fail">
          <div class="title">20 Hrs Ago</div>
          <div class="icons"><div class="icon icon-trash"></div></div>
        </li>
        <li class="fail">
          <div class="title">Yesterday</div>
          <div class="icons"><div class="icon icon-trash"></div></div>
        </li>
        <li class="fail">
          <div class="title">Yesterday</div>
          <div class="icons"><div class="icon icon-trash"></div></div>
        </li>
        <li class="fail">
          <div class="title">Yesterday</div>
          <div class="icons"><div class="icon icon-trash"></div></div>
        </li>
        <li class="fail">
          <div class="title">Yesterday</div>
          <div class="icons"><div class="icon icon-trash"></div></div>
        </li>
        <li class="fail">
          <div class="title">Yesterday</div>
          <div class="icons"><div class="icon icon-trash"></div></div>
        </li>
        <li class="fail">
          <div class="title">Yesterday</div>
          <div class="icons"><div class="icon icon-trash"></div></div>
        </li>
        <li class="fail">
          <div class="title">Yesterday</div>
          <div class="icons"><div class="icon icon-trash"></div></div>
        </li>
        <li class="fail">
          <div class="title">Yesterday</div>
          <div class="icons"><div class="icon icon-trash"></div></div>
        </li>
        <li class="fail">
          <div class="title">Yesterday</div>
          <div class="icons"><div class="icon icon-trash"></div></div>
        </li>
      </ul>
    </section>
    <section class="detail">
      <div class="content">
        <h1>Build 1</h1>
        <small class="date">Thu Apr 11 2013 10:26:48 GMT-0700 (PDT)</small>
        <h2 class="fail">Failure</h2>
        <code id="output">
          # concrete running build XXXX<br />
          <br />
          ∆ All good<br />
          ƒ Fail<br />
          ƒ Fail<br />
          <br />
          # fin
        </code>
      </div>
    </section>
  </section>

  <section id="sidebar">
    <nav>
      <ul>
        <li class="settings icon icon-cog"></li>
        <li class="icon icon-plus"></li>
      </ul>
    </nav>
  </section>
  <!--</script>-->

  <script type="text/x-handlebars" id="_nav">
    <h1>Sup</h1>
  </script>


  <%- js('app') %>
  <%if (env === 'development') { %>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js"></' + 'script>')</script>
  <% } %>
  
</body>
</html>
